body{
    background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height: 1.6em;
	margin:0;
}

.container {
    width: 80%;
    margin:auto;
    overflow:hidden;
}


.header {
    color: blanchedalmond;
    background-color: #333 ;
    text-align: center ;
}
.navbar{
background-color: coral;
color: #fff;
text-align: center;
}

.navbar ul{
    padding: 0px;  
    list-style: none;  
}

.navbar li{
    display: inline;
    
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 30px;

}

.one {
    background-image: url(images/showcase.jpg);
    background-position:center;
    background-repeat: no-repeat;
	min-height:300px;
	margin-bottom:30px;
    text-align: center;
}
.one h3{
    color: #fff;
    font-size: 23px;
    text-align: center;
    padding-top: 100px;
}


.mainheadermusic{
    text-align: center;
    background-color:#333;
    color: blanchedalmond;
}

.containermusic{
    width:80;
    margin: 0px 40px;
    overflow:hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.navbarmusic{
    background-color: #555;
    color: #fff;
    text-align: center;
    }
    
    .navbarmusic ul{
        padding: 0px;  
        list-style: none;  
    }
    
    .navbarmusic li{
        display: inline;
        padding: 20px;
    }

.mainmusic{
    background-image: url(images/musicwallpaper1.jpg);
    background-position:center;
    background-repeat: no-repeat;
	min-height:400px;
	margin-bottom:30px;
    text-align: center;
    width: 100%;
    margin:auto;
    overflow:hidden;
}

.mainmusic h3{
    color: #fff;
    font-size: 23px;
    text-align: center;
    padding-top: 20px;
}

.maingames{
    background-image: url(images/gameswallpaper1.jpg);
    background-position:center;
    background-repeat: no-repeat;
	min-height:500px;
	margin-bottom:30px;
    text-align: center;
    width: 100%;
    margin:auto;
    overflow:hidden;
}

.maingames h3{
    color: #fff;
    font-size: 23px;
    text-align: center;
    padding-top: 25px;
}

.gamesspeech{
    width:80;
    margin: 0px 40px;
    overflow:hidden;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.block{
	float:left;
    padding: 2px;
    width: 33%;
    font-size: 22px;
    text-align: center;
}

.headerportfolio {
    color: blanchedalmond;
    background-color: #333 ;
    text-align: center ;
    margin-bottom: 30px;
}

.tableportfolio {
    border-collapse: collapse;
        width: 80%;
        margin:auto;
        overflow:hidden;
        align-self: center;
        margin-top: 20px;
}

.tableportfolio th, td {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.tableportfolio tr:hover{background-color: aqua;}

.clr{
	clear:both;
}

.containercontact{
    margin:auto;
    padding-top: 20px;
    text-align: center;
    overflow:hidden;
}

.my-form{
	padding:5px 50px;
}

.my-form .form-group{
	padding-bottom:15px;
}

.my-form label{
	display:block;
}

.my-form input[type="text"], .my-form textarea{
	padding:8px;
	width:100%;
}

.my-form input[type="number"]{
    padding: 8px;
    width: 99.9%;
}

.button{
	background-color:#333;
	color:blanchedalmond;
	padding:10px 15px;
	border:none;
}

.button:hover{
	background:green;
	color:blanchedalmond;
}

